body {
    font-family: "Cairo", sans-serif !important;
    direction: rtl !important;
    background-color: #EFEFEF !important;
    color: #222222 !important;
}

.navbar-nav li a {
    transition: all 0.3s ease-in-out !important;
    position: relative !important;
}
.navbar-nav li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    background-color: #0078d7;
}
.navbar-nav li a:hover::before {
    width: 100%;
    transition: all 0.2s ease-in-out !important;
}
.navbar-nav li a:hover {
    color: #0078d7 !important;
}

.home-page  {
    position: relative;
}
.home-page::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
}